body {
    font-family: Arial, sans-serif;
    background: #f2fff5;
    margin: 0;
    padding: 0;
}

header {
    background: #2a8f3a;
    padding: 20px;
    color: white;
    text-align: center;
}

.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.btn {
    display: inline-block;
    padding: 12px 18px;
    background: #2a8f3a;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
}

.btn:hover {
    background: #1e6b2b;
}
